#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: black; 
}





.navbar-custom {
    background: #321a5d; 
    box-shadow: 0 4px 15px rgba(108, 43, 217, 0.25);
    border-bottom: 1px solid rgba(156, 81, 255, 0.2);
}

.navbar-dark .navbar-nav .nav-link {
    color: #d8c7ff;
    transition: 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #9d4edd;
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
}

.nav-link {
    box-shadow: 0 4px 15px rgba(108, 43, 217, 0.25);
    border: 1px solid rgba(156, 81, 255, 0.2);
    border-radius: 25%;
}
.nav-item{
    padding: 5px;
}

.w-40{
    width: 40%;
}

.w-60{
    width: 60%;
    box-shadow: 0 10px 100px rgba(92, 0, 252, 0.25);
   
    border-radius: 15%;
}
.container-intro{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    justify-self: center;
    color: #ffffff;
    
}
.card{
    width: 47%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(50, 26, 93, 0.7) !important;
    padding: 3%;
    text-align: center;
    color: #ffffff;
    opacity: 0;
    transform: translateY(80px);
}
.card.projects{
    width: 100%;
    
}

#footer {
    width: 100%;
}

.intro-image {
    perspective: 800px;
}

.intro-image img {
    cursor: pointer;
}

.flip-container {
    width: 400px;
    height: 400px;
    perspective: 1000px;
}

.flip {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}

.flip-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-back {
    background-color: #321a5d;
    color: white;
    text-align: center;
    padding: 30px;

    transform: rotateY(180deg);
}

.experience {
    opacity: 0;
    transform: translateY(80px);
}
.container-about{
    width: 100%;
    
    
}