<section id="about">
    <div class="container justify-content-between">
        <div class="container-about">
            <div class="titles">
                <h1>Experiencies</h1>
            </div>
            
            {% for experience in experiences %}
            <div class="card about">
                <div class="justify-content-center">
                    {% if experience.company_photo %}
                        <img class="job_image" src="{{ experience.company_photo.url }}" alt="{{ experience.company }}">
                    {% endif %}
                </div>
                <div>
                    <h2>{{ experience.title }}</h2>
                    <h3>{{ experience.company }}</h3>
                    
                    <p>{{ experience.description }}</p>
                    <p>
                        {{ experience.startdate|date:"M Y" }} -
                        {% if experience.enddate %}
                            {{ experience.enddate|date:"M Y" }}
                        {% else %}
                            Present
                        {% endif %}
                    </p>
                    <h4>Applied Skills</h4>
                    <div class="tech-icons flex">
                            {% for skill in experience.skills.all %}
                                {% if skill.logo %}
                                <div class="minicard">
                                    <img class="logo-tech" src="{{ skill.logo.url }}" alt="{{ skill.name }}" title="{{ skill.name }}">
                                    <span class="badge">{{ skill.name }}</span>
                                </div>
                                {% else %}
                                <div class="minicard">
                                    <span class="badge">{{ skill.name }}</span>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                </div>
            </div>
            {% empty %}
            <p>Todavía no hay experiencias cargadas.</p>
            {% endfor %}
            
        </div>
        <div class="container-about">
            <div class="titles">
            <h1>Education</h1>
            </div>
            {% for education in educations %}
            <div class="card education">
                <h2>{{education.name}}</h2>
                <h1>{{education.institucion}}</h1>
                <p>{{education.description}}</p>
                <p>
                    {{ education.startdate|date:"M Y" }} -
                    {% if education.enddate %}
                        {{ education.enddate|date:"M Y" }}
                    {% else %}
                        Present
                    {% endif %}
                </p>
                {% if education.certificade %}
                <div>
                    <a class="btn-lg"
                    href="{{ education.certificade.url }}"
                    target="_blank"
                    style="width: 17%; justify-content: center;">
                        Ver certificado
                    </a>
                </div>
                {% endif %}
            </div>

            
            
            {% empty %}
            
            <p>Todavía no hay estudios cargados.</p>
            {% endfor %}
      

        
    </div>
</section>