<section id="about">
    <div class="container d-flex flex justify-content-between">
        <div class="container-about">
            <h1>Experiencies</h1>
            <div class="card projects">
                <h2>Trabajo 1</h2>
                <p>Descripción de mi primera experiencia...</p>
            </div>
            <div class="card projects">
                <h2>Trabajo 1</h2>
                <p>Descripción de mi primera experiencia...</p>
            </div>
            <div class="card projects">
                <h2>Trabajo 1</h2>
                <p>Descripción de mi primera experiencia...</p>
            </div>
            <div class="card projects">
                <h2>Trabajo 1</h2>
                <p>Descripción de mi primera experiencia...</p>
            </div>
            <div class="card projects">
                <h2>Trabajo 1</h2>
                <p>Descripción de mi primera experiencia...</p>
            </div>

        
        </div>
        <div class="container-about">
            <h1>Education</h1>
            <div class="card projects">
                fdsfdsf
            </div>
            <div class="card projects">
                fdsfdsf
            </div>
            <div class="card projects">
                fdsfdsf
            </div>
        </div>
    </div>
</section>