<section id="header">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom">
  <a class="navbar-brand mb-0 h1" href="#">Damian Dubra</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse flex-grow-1 justify-content-center space-betwen" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#about">Abot me <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">Projects </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#blog">Blog </a>
      </li>
      
    </ul>
  </div>
  
  <div class="collapse navbar-collapse flex-grow-0" >
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.linkedin.com/in/damian-dubra-8457a21a6/?locale=es">Linkedin <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact </a>
      </li>
      
    </ul>
  </div>
</nav>
</section>