{% load static %}
<div class="container-intro">

    <div class="d-flex align-items-center justify-content-between">
        <div>
            <img class="rounded-circle" src="{% static 'images/damian.jpg' %}">
        </div>
        <div class="w-60 d-flex flex-column justify-content-left">
            <div style="padding: 3%;">
                <h2>Introduction</h2>
                <h3>sadddsadaadsdsaadsadsdasdasdas</h3>
                <h3>sadd</h3>
                <h3>sadd</h3>
                <h3>sadd</h3>
                <h3>sadd</h3>
                <h3>sadd</h3>
                <div>
                    <button type="button" class="btn btn-outline-light btn-lg justify-content-center">Contact</button>
                </div>
            </div>

        </div>
    </div>
</div>