{% load static %}
<section id="projects">
    <div class="container d-flex flex justify-content-between">
        <div class="card projects d-flex">
            <div class="container row">
                <div class="col-md-4 text-center">
                    <img class="rounded-circle" src="{% static 'images/Damian.jpg' %}">
                </div>
                <div class="col-md-8">
                    <h2>Introduction</h2>
                    <h3>sadddsadaadsdsaadsadsdasdasdas</h3>
                    <h3>sadd</h3>
                    <h3>sadd</h3>
                    <h3>sadd</h3>
                    <h3>sadd</h3>
                    <h3>sadd</h3>
                    <button class="btn-lg " href="">repositorio</button>
                    <button class="btn-lg " href="">web</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex flex justify-content-between">
        <div class="card projects d-flex">
            <div class="container row">
                <div class="col-md-4 text-center">
                    <img class="rounded-circle" src="{% static 'images/Damian.jpg' %}">
                </div>
                <div class="col-md-8">
                    <h2>Introduction</h2>
                    <h3>sadddsadaadsdsaadsadsdasdasdas</h3>
                    <h3>sadd</h3>
                    <h3>sadd</h3>
                    <h3>sadd</h3>
                    <h3>sadd</h3>
                    <h3>sadd</h3>
                    <button class="btn-lg " href="">repositorio</button>
                    <button class="btn-lg " href="">web</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex flex justify-content-between">
        <div class="card projects d-flex">
            <div class="container row">
                <div class="col-md-4 text-center">
                    <img class="rounded-circle" src="{% static 'images/Damian.jpg' %}">
                </div>
                <div class="col-md-8">
                    <h2>Introduction</h2>
                    <h3>sadddsadaadsdsaadsadsdasdasdas</h3>
                    <h3>sadd</h3>
                    <h3>sadd</h3>
                    <h3>sadd</h3>
                    <h3>sadd</h3>
                    <h3>sadd</h3>
                    <button class="btn-lg " href="">repositorio</button>
                    <button class="btn-lg " href="">web</button>
                </div>
            </div>
        </div>
    </div>
</section>