<section id="about">
    <div class="titles">
        <h1>Skills</h1>
    </div>
    <div class="container d-flex flex justify-content-between">
        <div class="card soft-skills">
            <h1>Soft-skills</h1>
            <div class="tech-icons">
                {% for skill in skills %}
                    {% if not skill.hard %}
                        {% if skill.logo %}
                        <div class="minicard">
                            <img class="logo-tech" src="{{ skill.logo.url }}" alt="{{ skill.name }}" title="{{ skill.name }}">
                            <span class="badge">{{ skill.name }}</span>
                        </div>
                        {% else %}
                        <div class="minicard">
                            <span class="badge">{{ skill.name }}</span>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="card">
            <h1>Hard-skills</h1>
            <div class="tech-icons">
                {% for skill in skills %}
                    {% if skill.hard %}
                        {% if skill.logo %}
                        <div class="minicard">
                            <img class="logo-tech" src="{{ skill.logo.url }}" alt="{{ skill.name }}" title="{{ skill.name }}">
                            <span class="badge">{{ skill.name }}</span>
                        </div>
                        {% else %}
                        <div class="minicard">
                            <span class="badge">{{ skill.name }}</span>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>