<section id="about">
    <div class="container d-flex flex justify-content-between">
        <div class="card">
            <h1>Soft-skills</h1>
            <button class="button w-40 ">python</button>

            <button class="button lg">python</button>
            <button class="button lg">python</button>
            <button class="button lg">python</button>
            <button class="button lg">python</button>
            
        </div>
        <div class="card">
            <h1>Hard-skills</h1>    
            <button class="button lg">python</button>
            <button class="button lg">python</button>
            <button class="button lg">python</button>
            <button class="button lg">python</button>
            <button class="button lg">python</button>
            <button class="button lg">python</button>
            <button class="button lg">python</button>

        </div>
    </div>
</section>